@font-face {
	font-family: 'ficon';
	src:url('fonts/ficon.eot?pv2iyf');
	src:url('fonts/ficon.eot?#iefixpv2iyf') format('embedded-opentype'),
		url('fonts/ficon.ttf?pv2iyf') format('truetype'),
		url('fonts/ficon.woff?pv2iyf') format('woff'),
		url('fonts/ficon.svg?pv2iyf#ficon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ficon-"], [class*=" ficon-"] {
	font-family: 'ficon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ficon-twitter:before {
	content: "\f099";
}
.ficon-facebook:before {
	content: "\f09a";
}
.ficon-linkedin:before {
	content: "\f0e1";
}
.ficon-filter2:before {
	content: "\f0b0";
}
.ficon-transfer:before {
	content: "\e610";
}
.ficon-schedule:before {
	content: "\e61b";
}
.ficon-play:before {
	content: "\e625";
}
.ficon-pause:before {
	content: "\e626";
}
.ficon-stop:before {
	content: "\e627";
}
.ficon-graph:before {
	content: "\e611";
}
.ficon-up-down:before {
	content: "\e629";
}
.ficon-checkoff:before {
	content: "\e622";
}
.ficon-for-sale:before {
	content: "\e632";
}
.ficon-text-bad:before {
	content: "\e62d";
}
.ficon-text-neutral:before {
	content: "\e62e";
}
.ficon-filter:before {
	content: "\e62c";
}
.ficon-tag:before {
	content: "\e630";
}
.ficon-export:before {
	content: "\e62b";
}
.ficon-checkmark-circle:before {
	content: "\e62a";
}
.ficon-text-good:before {
	content: "\e62f";
}
.ficon-sms:before {
	content: "\e628";
}
.ficon-clipboard:before {
	content: "\e623";
}
.ficon-house2:before {
	content: "\e624";
}
.ficon-paperclip:before {
	content: "\e621";
}
.ficon-bell:before {
	content: "\e61f";
}
.ficon-question:before {
	content: "\e61c";
}
.ficon-star2:before {
	content: "\e617";
}
.ficon-ealert:before {
	content: "\e616";
}
.ficon-buyer-seller:before {
	content: "\e61e";
}
.ficon-phone:before {
	content: "\e620";
}
.ficon-phone-neutral:before {
	content: "\e604";
}
.ficon-question-circle:before {
	content: "\e619";
}
.ficon-star:before {
	content: "\e618";
}
.ficon-email-neutral:before {
	content: "\e607";
}
.ficon-chat:before {
	content: "\e030";
}
.ficon-email-bad:before {
	content: "\e609";
}
.ficon-chats:before {
	content: "\e031";
}
.ficon-chevron-up:before {
	content: "\e001";
}
.ficon-chevron-down:before {
	content: "\e000";
}
.ficon-chevron-right:before {
	content: "\e015";
}
.ficon-chevron-left:before {
	content: "\e016";
}
.ficon-envelope:before {
	content: "\e003";
}
.ficon-user:before {
	content: "\e00b";
}
.ficon-heart:before {
	content: "\e01b";
}
.ficon-cog:before {
	content: "\e00e";
}
.ficon-cross-circle:before {
	content: "\e012";
}
.ficon-cross:before {
	content: "\e013";
}
.ficon-warning:before {
	content: "\e021";
}
.ficon-refresh:before {
	content: "\e007";
}
.ficon-feed:before {
	content: "\e00c";
}
.ficon-checkmark:before {
	content: "\e00a";
}
.ficon-fire:before {
	content: "\e029";
}
.ficon-users:before {
	content: "\e01f";
}
.ficon-plus-circle:before {
	content: "\e010";
}
.ficon-info:before {
	content: "\e025";
}
.ficon-info-circle:before {
	content: "\e024";
}
.ficon-delete:before {
	content: "\e020";
}
.ficon-location:before {
	content: "\e01c";
}
.ficon-edit:before {
	content: "\e01e";
}
.ficon-sort:before {
	content: "\e01a";
}
.ficon-arrow-bend-down-left:before {
	content: "\e005";
}
.ficon-arrow-bend-left:before {
	content: "\e006";
}
.ficon-arrow-bend-right:before {
	content: "\e002";
}
.ficon-arrow-down:before {
	content: "\e028";
}
.ficon-external-link:before {
	content: "\e004";
}
.ficon-search:before {
	content: "\e019";
}
.ficon-bars:before {
	content: "\e018";
}
.ficon-plus:before {
	content: "\e011";
}
.ficon-minus:before {
	content: "\e00d";
}
.ficon-minus-circle:before {
	content: "\e00f";
}
.ficon-justify:before {
	content: "\f039";
}
.ficon-calculator:before {
	content: "\e033";
}
.ficon-grid:before {
	content: "\e038";
}
.ficon-house:before {
	content: "\f015";
}
.ficon-email-good:before {
	content: "\e608";
}
.ficon-eye:before {
	content: "\e613";
}
.ficon-dismiss:before {
	content: "\e603";
}
.ficon-phone-good:before {
	content: "\e605";
}
.ficon-arrow-up:before {
	content: "\e600";
}
.ficon-phone-bad:before {
	content: "\e606";
}
.ficon-user-add:before {
	content: "\e614";
}
.ficon-printer:before {
	content: "\e601";
}
.ficon-doc:before {
	content: "\e60b";
}
.ficon-ellipsis:before {
	content: "\e61a";
}
.ficon-mobile:before {
	content: "\e61d";
}
.ficon-flag:before {
	content: "\e60a";
}
.ficon-globe:before {
	content: "\e60c";
}
.ficon-like:before {
	content: "\e615";
}
.ficon-key:before {
	content: "\e602";
}
.ficon-speaker:before {
	content: "\e60d";
}
.ficon-droplet:before {
	content: "\e612";
}
.ficon-droplet2:before {
	content: "\e60f";
}
.ficon-grid2:before {
	content: "\e60e";
}
.ficon-table:before {
	content: "\e631";
}
